extends layout
include ./components

block content
  .container
    +header('about')
    .row.col-md-offset-4
      div
        | Hi, I'm Greg. I live in Seattle. I like running, climbing, cookies and coffee.
        | If you like any of these and you're in or around Seattle shoot me an email (gregory.j.allan@gmail.com) 
        | and we can go meet up and get some.
      img(src='https://i.imgur.com/xIoloh.gif')
    +footer()
