mixin header(activeItem)
  .row
    .navbar.navbar-default(role='navigation')
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/')
            img.grobot(alt='grobot', src='/img/grobot.png')
            span.name Greg Allan
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li(class=activeItem==='blog' ? 'active' : '')
              a(href='/') Blog
            li(class=activeItem==='projects' ? 'active' : '')
              a(href='/projects') Projects
            li(class=activeItem==='resume' ? 'active' : '')
              a(href='/resume') Resume
            li(class=activeItem==='about' ? 'active' : '')
              a(href='/about') About

mixin footer()
  .row.col-md.12.footer
    .center
      img.grobot-footer(src='/img/grobot-cookies.png')
