extends layout
include ./components

block content
  .container
    +header('blog')
    .row.blog
      .col-md-3
        ul
          each post in posts
            li= post.title
            li= post.tags
            li= post.date

      .col-md-9
        each post in posts
          .post !{post.content}
    +footer()
