extends layout
include ./components

block content
  .container
    +header('projects')
    .row.col-md-offset-3
      a(href='/wcimfd')
        h2 What Can I Make For Dinner With The Dinner I Have in My House
      .project-description Add in what foods you have in your home and get recipe ideas
      .project-technologies Technologies Used:
        ul
          li Elasticsearch -- mongoosastic
          li Browserify

    +footer()
