extends layout
include ./components

block content
  .container
    +header('resume')
    .row.col-md-offset-3
      h1 Greg Allan
      a(href='mailto:gregory.j.allan@gmail.com') gregory.j.allan@gmail.com
      .phone 435 760 7301
      h2 Status
      .status Eating a cookie
      h2 Work
      .item # Feb 2012 - Present : Icon Health & Fitness
      .item # May 2011 - Feb 2012: Binzhou University
      .item # Nov 2009 - May 2011: Icon Health & Fitness
      .item # May 2009 - Oct 2009: Ungana Foundation
      h2 Outside of Work
      .item # Trail Running
      .item # Climbing
      .item # Cookies
      .item # Coffee
      h2 School
      .item # Attended Utah State University 2004-2009 and graduated with a BS in Computer Science
    +footer()
