img.grobot {
  height: 20px;
  padding-right: 10px;
  margin-bottom: 5px;
}
img.grobot-footer {
  height: 100px;
}
.footer .center {
  text-align: center;
}

.navbar .name {
  font-size: 24px;
  line-height: 22px;
}
.navbar li {
  font-size: 20px;
}
.navbar li a {
  padding-top: 16px;
}

.post .content {
  margin-bottom: 30px;
}
.post .date {
  margin-bottom: 50px;
  font-weight: 600;
}

.project-description {
  margin-bottom: 8px;
}
.project-technologies ul {
  margin-top: 8px;
}

.social {
  height: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.social:first-child {
  margin-left: 10px;
}
