extends ../layout

block content
  link(rel='stylesheet', href='/css/wcimfd.css')
  script(src="/js/wcimfd.js")
  .container.wcimfd-container
    .row
      .col-md-12(style="text-align:center")
        h1 What Can I Make For Dinner With The
        h1 Ingredients That I Have In My House
    .row.search-container
      .col-md-6
        #ingredient-list
        input#search(type="text", placeholder="Enter an ingredient...")
      .col-md-6
        #search-results

