extends ../layout

block content
  .container
    .row
      h1 Blag
    .blag-container
      each post in posts
        .row
          .span12
            b.title= post.title
            !{post.preview}
